.row {
  padding: 2px;
}

.row + .row {
  margin-top: 8px;
}

.label {
  composes: base from './legacy-shared.module.css';
  text-transform: uppercase;
}

@media print {
  .inkSaver {
    color: black;
  }
}

.inkSaverOverride {
  color: orange;
}

@media print {
  .lateWriter {
    color: black;
  }
}

.lateReader {
  color: teal;
}

.lateWriter {
  margin: 1px;
}

.composedBase {
  composes: lateReader;
  padding: 1px;
}
