name: tests
on:
  push:
    branches:
      - main
    pull_request:
      types: [opened, synchronize, reopened]

permissions:
  contents: read
  actions: read

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-node

      - name: prettier execute 
        run: pnpm prettier:report

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-node

      - name: lint execute
        run: |
          pnpm build
          pnpm lint:report
           

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-node

      - name: Build packages
        run: pnpm build

      - name: Run Jest tests with coverage
        run: pnpm exec jest --ci --coverage --reporters=github-actions --reporters=summary

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage/



  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-node

      - name: Build packages
        run: pnpm build

      - name: Install Playwright chromium
        run: pnpm exec playwright install chromium --with-deps

      - name: Start Next.js Dev Server
        run: npm run dev:e2e &
        env:
          CI: true

      - name: Run Playwright tests
        run: pnpm exec playwright test

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
